name: S3 Upload

on: push

jobs:
  upload:
    name: Use this action for check
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Use this action
        uses: ./
        id: upload
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}
          aws-bucket: ${{ secrets.AWS_BUCKET}}
          file-path: ./README.md
          # destination-dir:
          # bucket-root:
          output-file-url: true
          # content-type:
          output-qr-url: true
          # qr-width:
          # public:
          # expire:
          checksum-algorithm: SHA256
          #checksum: "qHT22mtgIsMewhPNSaHZtfTD5dFavvozYLQuefCJq2U="
          checksum: "a874f6da6b6022c31ec213cd49a1d9b5f4c3e5d15abefa3360b42e79f089ab65"
      - name: Show result
        if: always()
        run: |
          echo '${{ steps.upload.outputs.result }}'
          echo '${{ steps.upload.outputs.file-url }}'
          echo '${{ steps.upload.outputs.qr-url }}'